BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Times, serif
}
#barcontainer {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-TOP: 2px;
}
#headcontainer {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-TOP: 2px;
}
.head {
	BORDER-RIGHT: #444488 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #444488 1px solid; PADDING-LEFT: 2px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #444488 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #444488 1px solid; BACKGROUND-COLOR: #D8E6F0
}
#sidebar {
	PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#container {
	WIDTH: 100%; POSITION: relative
}
#ccol {
	MIN-HEIGHT: 750px; POSITION: relative
}
#lcol {
	PADDING-RIGHT: 0px; MARGIN-TOP: 2px; PADDING-LEFT: 2px; LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 200px; PADDING-TOP: 0px; POSITION: absolute; TOP: 0px;
}
#mainpage {
	PADDING-RIGHT: 5px; MARGIN-TOP: 2px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 210px; MARGIN-RIGHT: 10px; PADDING-TOP: 5px; POSITION: relative
}
H1 {
	FONT-WEIGHT: bold; FONT-FAMILY: "Trebuchet MS", Helvetica, Arial, sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H3 {
	FONT-WEIGHT: bold; FONT-FAMILY: Arial, Helvetica, sans-serif
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
A:link {
	COLOR: #000066; BACKGROUND-COLOR: transparent
}
A:active {
	FONT-WEIGHT: bold; COLOR: #000033; BACKGROUND-COLOR: transparent
}
A:visited {
	COLOR: #555555; BACKGROUND-COLOR: transparent
}
#mainpage H2 {
	CLEAR: both; MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.2em; MARGIN-BOTTOM: 0px; BORDER-BOTTOM: #444488 1px solid; FONT-FAMILY: Helvetica, Arial, sans-serif
}
#mainpage H3 {
	CLEAR: both; BACKGROUND-COLOR: #D8E6F0; FONT-SIZE: 1em; MARGIN: 15px 5px 5px; PADDING-LEFT: 5px; FONT-FAMILY: Times, serif
}
#mainpage H4 {
	FONT-SIZE: 1.0em; MARGIN-LEFT: -10px; MARGIN-BOTTOM: 5px; PADDING-LEFT: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #E6E6E6;
}
#mainpage H5 {
	FONT-SIZE: 1.0em; MARGIN-BOTTOM: 5px; PADDING-LEFT: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.bodytext1 {
	FONT-SIZE: 0.8em; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 15px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.bodytext1 LI {
	MARGIN-LEFT: -15px; 
}
.bodytext2 LI {
	MARGIN-LEFT: -10px; 
}
.bodytext2 {
	FONT-SIZE: 0.8em; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 15px; PADDING-TOP: 5px; PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-STYLE: italic; FONT-FAMILY: Times, serif; BACKGROUND-COLOR: #FFFFCC
}
.bodytext3 {
	FONT-SIZE: 0.8em; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 30px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.bodytext4 {
	FONT-SIZE: 0.8em; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 15px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #FFFFCC
}
.bodytext5 {
	FONT-SIZE: 1em; MARGIN-LEFT: 15px;
}
.bodycode {
	FONT-SIZE: 1em; MARGIN-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-TOP: 5px; PADDING-BOTTOM: 5px; FONT-FAMILY: courier, monospace; BACKGROUND-COLOR: #EEEEEE
}
.bodycode2 {
	FONT-SIZE: 1em; MARGIN-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-TOP: 5px; PADDING-BOTTOM: 5px; FONT-FAMILY: courier, monospace
}
.bodynote {
	FONT-SIZE: 1em; MARGIN-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 5px; PADDING-BOTTOM: 5px; FONT-FAMILY: Times, serif; FONT-STYLE: italic; BACKGROUND-COLOR: #FFFFCC
}

.buildbar {
	BORDER-RIGHT: #444488 1px solid; BORDER-TOP: #444488 1px solid; BORDER-BOTTOM: #444488 1px solid; BORDER-LEFT: #444488 1px solid; PADDING-RIGHT: 3px; PADDING-LEFT: 5px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 5px; MARGIN: 0px; VERTICAL-ALIGN: center; PADDING-TOP: 5px; FONT-WEIGHT: bold; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #D8E6F0
}
#title {
	WIDTH: 100%
}
#header {
	PADDING-LEFT: 2px; BACKGROUND-IMAGE: url(/image/new/tile_gif.gif)
}
.sidebar {
	BORDER-RIGHT: #444488 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #444488 1px solid; PADDING-LEFT: 5px; PADDING-TOP: 0px; FONT-SIZE: 0.8em; MARGIN-BOTTOM: 2em; MARGIN-TOP: 0px; PADDING-BOTTOM: 5px; BORDER-LEFT: #444488 1px solid; BORDER-BOTTOM: #444488 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #D8E6F0
}
.sidebar UL {
	MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-LEFT: 8px; LIST-STYLE-TYPE: none
}
.sidebar LI {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 0.5em
}
.sidebar H2 {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.44em; MARGIN-BOTTOM: 0.5em; BORDER-BOTTOM: #444488 1px solid; FONT-FAMILY: Helvetica, Arial, sans-serif
}
.sidebar H3 {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.0em; MARGIN-BOTTOM: 0.5em
}
